@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans/static/WorkSans-Medium.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/WorkSans/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 900;
}